.game {
    height: 100vh;
    background-color: var(--bg-primary);
}

.game__tittle {
    display: flex;
    justify-self: center;
    padding: 1rem 0;
    font-size: 2rem;
    color: var(--white);
}
.board {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    justify-self: center;
    width: 50rem;
    height: 50rem;
}

.board__cell {
    font-size: 10rem;
    background-color: var(--bg-cell);
    border: none;
    border-radius: var(--cell-radius);
}

.turn,
.result {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    color: var(--white);
}

.game__action {
    display: flex;
    justify-content: center;
}

.btn--primary {
    height: 3.5rem;
    aspect-ratio: 3 / 1;
    font-weight: 600;
    color: var(--primary);
    background-color: var(--bg-cell);
    border: none;
    border-radius: var(--btn-radius);
    transition: all 1s ease;
}

.btn--primary:hover {
    color: var(--bg-cell);
    background-color: var(--bg-primary);
    border: 2px solid var(--bg-cell);
}
