:root {
  --bg-primary: #1b1b1f;
  --bg-secondary: #3b3b3f;
  --bg-cell: #dadada;
  --color-playerOne: #2d5a86;
  --color-playerTwo: #8b0f24;

  --white: #fff;

  --radius-cell: 10%;
  --radius-btn: 20px;
  --shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}
